.empty-state__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-state__placeholder {
  width: 300px;
  height: 300px;
}

.empty-state__title{
    color: white;
}